.card {
  background: black;
  border-radius: 2px;
  height: 140px;
  width: 170px;
  margin: 10px;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  width: 98%;
  height: 98%;
}